
@{
    ViewBag.Title = "Index";
}
<div class="containerFrontDiv">
    <div class="startDiv" id="frontDiv">Start debating!</div>
    <table class="subDivTable">
        <tr>
            <td id="leftSideDiv">
                <div id="subFrontDiv">
                    Statistics <div id="subFrontDescription">Curious about who the top debaters or what the hot topics are?<br/> Click here to see!</div>
                </div>
            </td>
            <td id="rightSideDiv">
                <div id="subFrontDiv">
                    Rules<div id="subFrontDescription">New to RateMyDebate? Please make sure that you're familiar with the ruleset before beginning.</div>
                </div>
            </td>
        </tr>
        <tr>
            <td id="leftSideDiv">
                <div id="subFrontDiv">
                    FAQ/Support <div id="subFrontDescription">Please refer to this page, if you have any questions in regards to using the site.</div>
                </div>
            </td>
            <td id="rightSideDiv">
                <div id="subFrontDiv">
                    Archive<div id="subFrontDescription">A searchable, sortable archive of all debates conducted on the site. <br/> </div>
                </div>
            </td>
        </tr>
    </table>

</div>

<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#tab1">Popular debates</a></li>
        <li><a href="#tab2">Top debaters</a></li>
        <li><a href="#tab3">Random debates</a></li>
    </ul>

    <div class="tab-content">
        <div id="tab1" class="tab active">
            <table>
                <tr style="border-bottom: rgb(0, 0, 0, 0.25); font-weight: bold;">
                    <td style="padding-left: 40px; padding-right: 40px; width: 15%; background: rgba(167, 166, 255, 0.50)">Author</td>
                    <td style="padding-left: 40px; padding-right: 40px; width: 15%; background: rgba(167, 166, 255, 0.50);">Challenger</td>
                    <td style="padding-left: 40px; padding-right: 40px; width: 55%; background: rgba(167, 166, 255, 0.50);">Title</td>
                    <td style="padding-left: 100px; padding-right: 40px; width: 15%; background: rgba(167, 166, 255, 0.50)">Spectators</td>
                </tr>
                <tr>
                    <td style="padding-left: 40px; padding-right: 40px; width: 15%; background: rgba(167, 166, 255, 0.25); ">John</td>
                    <td style="padding-left: 40px; padding-right: 40px; width: 15%; background: rgba(167, 166, 255, 0.25); ">Peter</td>
                    <td style="padding-left: 40px; padding-right: 40px; width: 55%; background: rgba(167, 166, 255, 0.25); ">Animal rights</td>
                    <td style="padding-left: 100px; width: 15%; background: rgba(167, 166, 255, 0.25); padding-right: 40px; ">320</td>
                </tr>
                <tr>
                    <td style="padding-left: 40px; width: 15%; padding-right: 40px; background: rgba(167, 166, 255, 0.35)">Joffrey</td>
                    <td style="padding-left: 40px; width: 15%; padding-right: 40px; background: rgba(167, 166, 255, 0.35)">Ned</td>
                    <td style="padding-left: 40px; width: 55%; padding-right: 40px; background: rgba(167, 166, 255, 0.35)">
                        Off with his head?
                    </td>
                    <td style="padding-left: 100px; width: 15%; padding-right: 40px; background: rgba(167, 166, 255, 0.35); ">4000</td>
                </tr>
                <tr>
                    <td style="padding-left: 40px; width: 15%; padding-right: 40px; background: rgba(167, 166, 255, 0.25); ">Ghost</td>
                    <td style="padding-left: 40px; width: 15%; padding-right: 40px; background: rgba(167, 166, 255, 0.25); ">Busters</td>
                    <td style="padding-left: 40px; width: 55%; padding-right: 40px; background: rgba(167, 166, 255, 0.25); ">Who you gonna call?</td>
                    <td style="padding-left: 100px; width: 15%; padding-right: 40px; background: rgba(167, 166, 255, 0.25)">6</td>
                </tr>
                <tr>
                    <td style="padding-left: 40px; padding-right: 40px; background: rgba(167, 166, 255, 0.35)">Obama</td>
                    <td style="padding-left: 40px; padding-right: 40px; background: rgba(167, 166, 255, 0.35)">McCain</td>
                    <td style="padding-left: 40px; width: 55%; padding-right: 40px; background: rgba(167, 166, 255, 0.35)">
                        Why are you so grumpy, McCain?
                    </td>
                    <td style="padding-left: 100px; padding-right: 40px; background: rgba(167, 166, 255, 0.35); ">USA</td>
                </tr>
                <tr>
                    <td style="padding-left: 40px; padding-right: 40px; background: rgba(167, 166, 255, 0.25); ">God</td>
                    <td style="padding-left: 40px; padding-right: 40px; background: rgba(167, 166, 255, 0.25); ">Satan</td>
                    <td style="padding-left: 40px; width: 55; padding-right: 40px; background: rgba(167, 166, 255, 0.25); ">You started it</td>
                    <td style="padding-left: 100px; padding-right: 40px; background: rgba(167, 166, 255, 0.25)">6.000.000.000</td>
                </tr>
            </table>
        </div>

        <div id="tab2" class="tab">
            <table>
                <tr style="border-bottom: rgb(0, 0, 0, 0.25); font-weight: bold;">
                    <td style="padding-left: 40px; padding-right: 40px; width: 15%; background: rgba(167, 166, 255, 0.50)">Author</td>
                    <td style="padding-left: 40px; padding-right: 40px; width: 15%; background: rgba(167, 166, 255, 0.50);">Challenger</td>
                    <td style="padding-left: 40px; padding-right: 40px; width: 55%; background: rgba(167, 166, 255, 0.50);">Title</td>
                    <td style="padding-left: 100px; padding-right: 40px; width: 15%; background: rgba(167, 166, 255, 0.50)">Spectators</td>
                </tr>
                <tr>
                    <td style="padding-left: 40px; padding-right: 40px; width: 15%; background: rgba(167, 166, 255, 0.25); ">Santa</td>
                    <td style="padding-left: 40px; padding-right: 40px; width: 15%; background: rgba(167, 166, 255, 0.25); ">Peter</td>
                    <td style="padding-left: 40px; padding-right: 40px; width: 55%; background: rgba(167, 166, 255, 0.25); ">Animal rights</td>
                    <td style="padding-left: 100px; width: 15%; background: rgba(167, 166, 255, 0.25); padding-right: 40px; ">320</td>
                </tr>
                <tr>
                    <td style="padding-left: 40px; width: 15%; padding-right: 40px; background: rgba(167, 166, 255, 0.35)">Joffrey</td>
                    <td style="padding-left: 40px; width: 15%; padding-right: 40px; background: rgba(167, 166, 255, 0.35)">Ned</td>
                    <td style="padding-left: 40px; width: 55%; padding-right: 40px; background: rgba(167, 166, 255, 0.35)">
                        Off with his head?
                    </td>
                    <td style="padding-left: 100px; width: 15%; padding-right: 40px; background: rgba(167, 166, 255, 0.35); ">4000</td>
                </tr>
                <tr>
                    <td style="padding-left: 40px; width: 15%; padding-right: 40px; background: rgba(167, 166, 255, 0.25); ">Ghost</td>
                    <td style="padding-left: 40px; width: 15%; padding-right: 40px; background: rgba(167, 166, 255, 0.25); ">Busters</td>
                    <td style="padding-left: 40px; width: 55%; padding-right: 40px; background: rgba(167, 166, 255, 0.25); ">Who you gonna call?</td>
                    <td style="padding-left: 100px; width: 15%; padding-right: 40px; background: rgba(167, 166, 255, 0.25)">6</td>
                </tr>
                <tr>
                    <td style="padding-left: 40px; padding-right: 40px; background: rgba(167, 166, 255, 0.35)">Obama</td>
                    <td style="padding-left: 40px; padding-right: 40px; background: rgba(167, 166, 255, 0.35)">McCain</td>
                    <td style="padding-left: 40px; width: 55%; padding-right: 40px; background: rgba(167, 166, 255, 0.35)">
                        Why are you so grumpy, McCain?
                    </td>
                    <td style="padding-left: 100px; padding-right: 40px; background: rgba(167, 166, 255, 0.35); ">USA</td>
                </tr>
                <tr>
                    <td style="padding-left: 40px; padding-right: 40px; background: rgba(167, 166, 255, 0.25); ">God</td>
                    <td style="padding-left: 40px; padding-right: 40px; background: rgba(167, 166, 255, 0.25); ">Satan</td>
                    <td style="padding-left: 40px; width: 55; padding-right: 40px; background: rgba(167, 166, 255, 0.25); ">You started it</td>
                    <td style="padding-left: 100px; padding-right: 40px; background: rgba(167, 166, 255, 0.25)">6.000.000.000</td>
                </tr>
            </table>
        </div>

        <div id="tab3" class="tab">
            <table>
                <tr style="border-bottom: rgb(0, 0, 0, 0.25); font-weight: bold;">
                    <td style="padding-left: 40px; padding-right: 40px; width: 15%; background: rgba(167, 166, 255, 0.50)">Author</td>
                    <td style="padding-left: 40px; padding-right: 40px; width: 15%; background: rgba(167, 166, 255, 0.50);">Challenger</td>
                    <td style="padding-left: 40px; padding-right: 40px; width: 55%; background: rgba(167, 166, 255, 0.50);">Title</td>
                    <td style="padding-left: 100px; padding-right: 40px; width: 15%; background: rgba(167, 166, 255, 0.50)">Spectators</td>
                </tr>
                <tr>
                    <td style="padding-left: 40px; padding-right: 40px; width: 15%; background: rgba(167, 166, 255, 0.25); ">Mick</td>
                    <td style="padding-left: 40px; padding-right: 40px; width: 15%; background: rgba(167, 166, 255, 0.25); ">Peter</td>
                    <td style="padding-left: 40px; padding-right: 40px; width: 55%; background: rgba(167, 166, 255, 0.25); ">Animal rights</td>
                    <td style="padding-left: 100px; width: 15%; background: rgba(167, 166, 255, 0.25); padding-right: 40px; ">320</td>
                </tr>
                <tr>
                    <td style="padding-left: 40px; width: 15%; padding-right: 40px; background: rgba(167, 166, 255, 0.35)">Joffrey</td>
                    <td style="padding-left: 40px; width: 15%; padding-right: 40px; background: rgba(167, 166, 255, 0.35)">Ned</td>
                    <td style="padding-left: 40px; width: 55%; padding-right: 40px; background: rgba(167, 166, 255, 0.35)">
                        Off with his head?
                    </td>
                    <td style="padding-left: 100px; width: 15%; padding-right: 40px; background: rgba(167, 166, 255, 0.35); ">4000</td>
                </tr>
                <tr>
                    <td style="padding-left: 40px; width: 15%; padding-right: 40px; background: rgba(167, 166, 255, 0.25); ">Ghost</td>
                    <td style="padding-left: 40px; width: 15%; padding-right: 40px; background: rgba(167, 166, 255, 0.25); ">Busters</td>
                    <td style="padding-left: 40px; width: 55%; padding-right: 40px; background: rgba(167, 166, 255, 0.25); ">Who you gonna call?</td>
                    <td style="padding-left: 100px; width: 15%; padding-right: 40px; background: rgba(167, 166, 255, 0.25)">6</td>
                </tr>
                <tr>
                    <td style="padding-left: 40px; padding-right: 40px; background: rgba(167, 166, 255, 0.35)">Obama</td>
                    <td style="padding-left: 40px; padding-right: 40px; background: rgba(167, 166, 255, 0.35)">McCain</td>
                    <td style="padding-left: 40px; width: 55%; padding-right: 40px; background: rgba(167, 166, 255, 0.35)">
                        Why are you so grumpy, McCain?
                    </td>
                    <td style="padding-left: 100px; padding-right: 40px; background: rgba(167, 166, 255, 0.35); ">USA</td>
                </tr>
                <tr>
                    <td style="padding-left: 40px; padding-right: 40px; background: rgba(167, 166, 255, 0.25); ">God</td>
                    <td style="padding-left: 40px; padding-right: 40px; background: rgba(167, 166, 255, 0.25); ">Satan</td>
                    <td style="padding-left: 40px; width: 55; padding-right: 40px; background: rgba(167, 166, 255, 0.25); ">You started it</td>
                    <td style="padding-left: 100px; padding-right: 40px; background: rgba(167, 166, 255, 0.25)">6.000.000.000</td>
                </tr>
            </table>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('.tabs .tab-links a').on('click', function (e) {
            var currentAttrValue = jQuery(this).attr('href');


            jQuery('.tabs ' + currentAttrValue).show().siblings().hide();


            jQuery(this).parent('li').addClass('active').siblings().removeClass('active');

            e.preventDefault();
        });
    });
</script>