@using System.Web.UI.WebControls
@using Microsoft.Ajax.Utilities
@using RateMyDebate.Models
@using RateMyDebate.ViewModels
@model RateMyDebate.ViewModels.DebateDisplayViewModel


<div class="messageDiv">
    <input type="button" id="sendmessage" value="Send" class="chatButton" />
    <input type="text" id="message" class="chatTextBox" />
</div>

<div></div>