
@{
    ViewBag.Title = "WhatIsRateMyDebate";
}

<div class="FAQHeadline">
    <p>What is rate my debate?</p>
</div>
<div class="tableFAQ" >
    <div class="tableDataFAQ">
        Rate my debate is a asæjdlksajdas sdffffffffffffffffffffffffffffffffffffffffffffffffffff
        dfsafsa
        fsafsa
        fasfasRate my debate is a asæjdlksajdas sdffffffffffffffffffffffffffffffffffffffffffffffffffff
        dfsafsa
        fsafsa
        fasfasRate my debate is a asæjdlksajdas sdffffffffffffffffffffffffffffffffffffffffffffffffffff
        dfsafsa
        fsafsa
        fasfas
    </div>
</div>
