
@{
    ViewBag.Title = "WhatIsRateMyDebate";
}

<div class="Headline">
    <p>What is rate my debate?</p>
</div>
<div class="tableFAQ" >
    <div class="textColor" style="text-align: center;">
        Rate my debate is a asæjdlksajdas sdffffffffffffffffffffffffffffffffffffffffffffffffffff
        dfsafsa
        fsafsa
        fasfasRate my debate is a asæjdlksajdas sdffffffffffffffffffffffffffffffffffffffffffffffffffff
        dfsafsa
        fsafsa
        fasfasRate my debate is a asæjdlksajdas sdffffffffffffffffffffffffffffffffffffffffffffffffffff
        dfsafsa
        fsafsa
        fasfas
    </div>
</div>
