
@{
    ViewBag.Title = "Index";
}

<div class="Headline">
    <p>Rules!</p>
</div>

<div class="tableFAQ">
    <div class="textColor" style=" text-align: center;">
        <p class="Headline">Follow the rules on the site or GTFO.</p>

        <p class="Headline"> Rule 1.</p>
        sdfsdfsdfsdddddddddddd sdfsdfsdfsddddddddddddsdfsdfsdfsddddddddd
        sdfsdfsdfsddddddddddddsdfsdfsdfsddddddddddddsdfsdfsdfsdddddddddddd
        sdfsdfsdfsddddddddddddsdfsdfsdfsdddddddddddd
        sdfsdfsdfsddddddddddddsdfsdfsdfsddddddddddddsdfsdfsdfsdddddddddddd
        sdfsdfsdfsddddddddddddsdfsdfsdfsddddddddddddsdfsdfsdfsddddddddddddsdfsdfsdfsd

        <p class="Headline"> Rule 2.</p>
        sdfsdfsdfsdddddddddddd sdfsdfsdfsddddddddddddsdfsdfsdfsddddddddd
        sdfsdfsdfsddddddddddddsdfsdfsdfsddddddddddddsdfsdfsdfsdddddddddddd
        sdfsdfsdfsddddddddddddsdfsdfsdfsdddddddddddd
        sdfsdfsdfsddddddddddddsdfsdfsdfsddddddddddddsdfsdfsdfsdddddddddddd
        sdfsdfsdfsddddddddddddsdfsdfsdfsddddddddddddsdfsdfsdfsddddddddddddsdfsdfsdfsd

        <p class="Headline"> Rule 3.</p>
        sdfsdfsdfsdddddddddddd sdfsdfsdfsddddddddddddsdfsdfsdfsddddddddd
        sdfsdfsdfsddddddddddddsdfsdfsdfsddddddddddddsdfsdfsdfsdddddddddddd
        sdfsdfsdfsddddddddddddsdfsdfsdfsdddddddddddd
        sdfsdfsdfsddddddddddddsdfsdfsdfsddddddddddddsdfsdfsdfsdddddddddddd
        sdfsdfsdfsddddddddddddsdfsdfsdfsddddddddddddsdfsdfsdfsddddddddddddsdfsdfsdfsd
        <p class="Headline"> Rule 4.</p>
        sdfsdfsdfsdddddddddddd sdfsdfsdfsddddddddddddsdfsdfsdfsddddddddd
        sdfsdfsdfsddddddddddddsdfsdfsdfsddddddddddddsdfsdfsdfsdddddddddddd
        sdfsdfsdfsddddddddddddsdfsdfsdfsdddddddddddd
        sdfsdfsdfsddddddddddddsdfsdfsdfsddddddddddddsdfsdfsdfsdddddddddddd
        sdfsdfsdfsddddddddddddsdfsdfsdfsddddddddddddsdfsdfsdfsddddddddddddsdfsdfsdfsd

    </div>
    
</div>
